@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  color: #121212;
  font-size: 16px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  line-height: 1.75;
  letter-spacing: 0;
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

main {
  margin-bottom: 100px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding-left: 0;
  list-style: none;
}

div {
  max-width: 100%;
}

pre {
  white-space: pre-wrap;
}

h1 {
  font-weight: 500;
}

.header {
  margin-bottom: 8.75em;
  position: relative;
}
.header .navi {
  position: fixed;
  background-color: rgba(171, 171, 171, 0.6);
  top: 0;
  width: 100%;
  padding: 0.625em 1.25em;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header .navi__head {
  color: #ffffff;
  font-weight: 400;
  line-height: 1.2;
  margin: 0.625em 0;
}
.header .navi .link {
  display: flex;
  margin: 0;
}
.header .navi .link__list {
  margin-right: 1.875em;
}
.header__inner {
  margin-left: auto;
  margin-right: auto;
  width: 92.3076923077%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.header__text {
  margin-top: 25vh;
  font-weight: 400;
  font-size: 1.625rem;
  margin-bottom: 3.125em;
}
.header__image {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8.125em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  transform: 0.5s;
}
.header__image--content {
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
.header__image--glass {
  position: absolute;
  top: 43%;
  left: 0%;
}
.header__image--lefteye {
  position: absolute;
  top: 47%;
  left: 18%;
}
.header__image--righteye {
  position: absolute;
  top: 48%;
  right: 34%;
}
.header__image--nose {
  position: absolute;
  top: 60%;
  left: 33%;
}
.header__image--mouse {
  position: absolute;
  top: 80%;
  left: 31%;
}
.header__image--hair {
  position: absolute;
  top: 0%;
  left: 0%;
}
.header__image::before {
  content: "WELCOME!";
  position: absolute;
  top: 130%;
  left: 0%;
  width: 100%;
  opacity: 1;
  font-size: 1.25rem;
  display: none;
  transition: 0.5s;
}
.header__image:hover .header__image--glass {
  top: -25%;
  left: 5%;
}
.header__image:hover::before {
  opacity: 1;
  display: inline-block;
}
.header .arrow__container {
  margin-top: 3.75em;
}
.header .arrow__container img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.875em;
}

.fadeInBottom.visible {
  -webkit-animation: fadeInBottom 1.5s ease 0s 1 normal;
          animation: fadeInBottom 1.5s ease 0s 1 normal;
}

/* fadeInBottom */
@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
  }
}
.main__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 92.3076923077%;
}
.main__wrapper section {
  margin-bottom: 6.25em;
}

.sectiontitle {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 2.5em;
  background-color: #0ff440;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  padding: 0 0.625em;
}

.works .card {
  background-color: #ececec;
  padding: 1.125em;
  margin-bottom: 3.75em;
  transition: 0.25s ease-out;
  box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
.works .card:hover {
  scale: 1.1;
}
.works .card__image {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.625em;
}
.works .card__title a {
  display: block;
  text-align: center;
  color: #121212;
}

.vision {
  margin-bottom: 8.75em;
}
.vision__wrapper {
  margin-bottom: 4.375em;
}
.vision .container {
  background-color: #ffffff;
  margin-bottom: 3.125em;
  padding: 0.9375em 0.625em;
}
.vision .container__title {
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.375em;
}
.vision .container .explain {
  margin-bottom: 1.5625em;
}
.vision .container .explain__title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.25em;
}
.vision .container .explain__text {
  text-align: center;
  font-size: 0.875rem;
}
.vision .container .explain span {
  display: inline-block;
}
.vision .container .license__head {
  margin-right: auto;
  margin-left: auto;
  background-color: #dddddd;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.125em 0.625em;
  margin-bottom: 0.9375em;
  font-size: 0.875rem;
}
.vision .container .license__name {
  font-size: 0.875rem;
  text-align: center;
}
.vision__detail {
  margin-right: auto;
  margin-left: auto;
}
.vision__detail--button {
  background-color: #0d0097;
  font-size: 1.375rem;
  text-align: center;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.625em;
}
.vision__detail--button:hover {
  background-color: #ff1010;
}
.vision .contact {
  margin-right: auto;
  margin-left: auto;
  margin-top: 3.125em;
}
.vision .contact__button {
  background-color: #008897;
  font-size: 1.375rem;
  text-align: center;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.625em;
}
.vision .contact__button:hover {
  background-color: #ff1040;
}

.footer {
  background-color: #fdfe3c;
}
.footer__inner {
  margin-left: auto;
  margin-right: auto;
  width: 92.3076923077%;
}
.footer small {
  margin-right: auto;
  margin-left: auto;
}
.footer small p {
  text-align: center;
}

.tab {
  max-width: 87.5em;
  margin: 2.5em auto;
  /* タブメニュー */
  /* is-activeがついている時のスタイル */
  /* タブパネル */
  /* is-showがついている時のスタイル */
}
.tab__menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 3.125em;
  padding: 0;
  margin: 0;
  margin-bottom: 2.5em;
  gap: 20px;
  width: auto;
}
.tab__menu-item {
  width: 45%;
  text-align: center;
  background-color: #cdcdcd;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px 0;
  color: #294781;
  align-items: center;
  border-bottom: 1px solid rgba(41, 71, 129, 0.5);
}
.tab__menu-item.is-active {
  background-color: #ff8800;
  color: #ffffff;
}
.tab__panel {
  width: 100%;
}
.tab__panel-box {
  border-radius: 10px;
  margin-bottom: 1.875em;
  max-height: 90vh;
  overflow-y: scroll;
}
.tab__panel-box001 {
  background-color: #ffffff;
  display: none;
}
.tab__panel-box002 {
  background-color: #ffffff;
  display: none;
}
.tab__panel-box.is-show {
  display: block;
}

@media (min-width: 900px) {
  .header {
    margin-bottom: 8.75em;
    position: relative;
    height: 70vh;
  }
  .header .navi {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.625em 1.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header .navi__head {
    color: #ffffff;
    font-weight: 400;
  }
  .header .navi .link {
    display: flex;
  }
  .header .navi .link__list {
    margin-right: 1.875em;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: 0.3s;
  }
  .header .navi .link__list:hover {
    border-bottom: 1px solid #ffffff;
  }
  .header__text {
    font-size: 3.125rem;
    margin-bottom: 1.875em;
  }
  .header__image {
    margin-bottom: 8.75em;
  }
  .vision__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
  }
  .vision .container {
    width: 30%;
  }
  .works__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
  }
  .works__container:last-of-type::after {
    display: block;
    content: "";
    width: 30%;
  }
  .works .card {
    width: 30%;
  }
}
.header#single {
  height: 10vh;
}

.singlework {
  margin-left: auto;
  margin-right: auto;
  width: 84.375%;
  max-width: 1400px;
}
.singlework__head {
  font-size: 1.75rem;
  margin-bottom: 3.125em;
}
.singlework__topimage {
  margin-bottom: 1.25em;
}
.singlework__title {
  margin-bottom: 1.25em;
  color: #121212;
  transition: 0.5s;
  font-size: 1.375rem;
  font-weight: 500;
}
.singlework__sub {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.3125em;
}
.singlework__sec {
  margin-bottom: 5em;
}
.singlework .ovcontent {
  margin-bottom: 1.25em;
}
.singlework .ovcontent__head {
  background-color: #294781;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5625em 0.125em;
  margin-bottom: 0.25em;
}
.singlework .ovcontent__part {
  padding-left: 0.625em;
}
.singlework .ovcontent .wraplist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  gap: 5%;
}
.singlework .ovcontent .wraplist__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.875rem;
  color: #121212;
}
.singlework .ovcontent .wraplist__content span {
  display: inline-block;
}
.singlework .ovcontent .wraplist__content a {
  display: block;
  color: #121212;
  border-bottom: 1px solid #121212;
  transition: 0.2s;
}
.singlework .ovcontent .wraplist__content a:hover {
  color: #ff8800;
}
.singlework .presenslide {
  margin: 1.25rem 0;
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 13/9;
}
.singlework__imagebox {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
}
.singlework__imagebox .omote {
  margin-bottom: 0.875em;
}
.singlework__imagebox.linktree {
  display: block;
  margin: 1.25em 0;
  margin-right: auto;
  margin-left: auto;
}
.singlework__imagebox .linktree__link {
  display: block;
}
.singlework__imagebox .linktree__qr {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
.singlework__imagebox.tabs img {
  margin-bottom: 1.25em;
}
.singlework__allworkview {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.singlework__heading {
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
}
.singlework__heading2 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1em;
  border-bottom: 1px solid #121212;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.singlework__heading3 {
  font-weight: 500;
  font-size: 0.9375rem;
  margin-bottom: 0.625em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.singlework__text {
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
}
.singlework__text.catchtext {
  font-weight: 600;
}
.singlework__text a {
  color: #121212;
  font-weight: 600;
}
.singlework__text .navy {
  color: #12325b;
}
.singlework__text .navy::after {
  content: "■";
  display: inline;
  font-size: 1rem;
  color: #12325b;
}
.singlework__text .orange {
  color: #ff914d;
}
.singlework__text .orange::after {
  content: "■";
  display: inline;
  font-size: 1rem;
  color: #ff914d;
}
.singlework .survey {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.875em;
  margin-bottom: 1.875em;
}
.singlework .survey__image {
  width: 40%;
}
.singlework__persona {
  width: 100%;
  height: 400px;
}
.singlework .gradation__ground {
  height: 10vh;
  width: 100%;
  display: block;
  background: linear-gradient(to right, #2590be, #294781);
}
.singlework .pattern__1 {
  height: 10vh;
  width: 100%;
  display: block;
  background-color: #e8e5d3;
  position: relative;
}
.singlework .pattern__1::after {
  content: "テキストカラー";
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 600;
}
.singlework .pattern__2 {
  height: 10vh;
  width: 100%;
  display: block;
  background-color: #f0f0f0;
  position: relative;
}
.singlework .pattern__2::after {
  content: "テキストカラー";
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #121212;
  font-weight: 600;
}
.singlework .pattern__3 {
  height: 10vh;
  width: 100%;
  display: block;
  background-color: #0e0e0e;
  position: relative;
}
.singlework .pattern__3::after {
  content: "テキストカラー";
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #767676;
  font-weight: 600;
}
.singlework .pattern__4 {
  height: 10vh;
  width: 100%;
  display: block;
  background-color: #ffffff;
  border: 0.1px solid #121212;
  position: relative;
}
.singlework .pattern__4::after {
  content: "テキストカラー";
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 600;
}
.singlework .pattern__5 {
  height: 10vh;
  width: 100%;
  display: block;
  background-color: #fdfdfd;
  border: 0.1px solid #121212;
  position: relative;
}
.singlework .pattern__5::after {
  content: "テキストカラー";
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #004333;
  font-weight: 600;
}
.singlework .pattern__case {
  display: inline-block;
  font-weight: normal;
}
.singlework .colorbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.25rem;
}
.singlework .colorbox span {
  display: block;
  margin: 20px;
  padding: 0.125em 0.3125em;
}
.singlework .colorbox span.basecolor {
  color: #ffffff;
  background-color: #2a89b3;
}
.singlework .colorbox span.basecolor.blog {
  color: #121212;
  background-color: #e6e6e6;
  border: 0.5px solid #121212;
}
.singlework .colorbox span.basecolor.wafu {
  color: #121212;
  background-color: #f8f8f8;
  border: 0.5px solid #121212;
}
.singlework .colorbox span.basecolor.portfolio {
  color: #121212;
  background-color: #ffffff;
  border: 0.5px solid #121212;
}
.singlework .colorbox span.maincolor {
  color: #121212;
  background-color: #ffffff;
  border: 0.5px solid #121212;
}
.singlework .colorbox span.maincolor.blog {
  color: #ffffff;
  background-color: #121212;
  border: none;
}
.singlework .colorbox span.maincolor.wafu {
  color: #ffffff;
  background-color: #121212;
}
.singlework .colorbox span.maincolor.portfolio {
  color: #121212;
  background-color: #ececec;
  border: 0.5px solid #121212;
}
.singlework .colorbox span.accentcolor {
  color: #ffffff;
  background-color: #dd7c15;
}
.singlework .colorbox span.accentcolor.blog {
  background-color: #0d0097;
}
.singlework .colorbox span.accentcolor.wafu {
  color: #121212;
  background-color: #c3b000;
}
.singlework .colorbox span.accentcolor.portfolio {
  background-color: #11f340;
}
.singlework .bloglogo {
  display: flex;
  flex-direction: column;
}
.singlework .bloglogo__image {
  padding: 0.625em 1.25em;
  margin-bottom: 1.875em;
}
.singlework .bloglogo__image:nth-child(2) {
  background-color: #000;
}
.singlework .reason {
  padding-left: 5%;
  list-style: decimal;
}
.singlework .reason__list {
  font-size: 0.875rem;
}
.singlework .namecard {
  padding-left: 5%;
  list-style: circle;
}
.singlework .namecard__list {
  font-size: 0.875rem;
}
.singlework .triden {
  max-height: 100vh;
  overflow-y: scroll;
}
.singlework .personalist {
  border: 0.5px solid #121212;
  padding: 0.625em 0.25em;
}
.singlework .personalist__list {
  margin-bottom: 0.625em;
}
.singlework .backlist {
  margin-right: auto;
  margin-left: auto;
}
.singlework .backlist__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0d0097;
  font-size: 1.375rem;
  text-align: center;
  display: block;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.625em;
}
.singlework .backlist__btn:hover {
  background-color: #ff1010;
}

@media (min-width: 651px) {
  .tab {
    max-width: 87.5em;
    margin: 2.5em auto;
    /* タブメニュー */
    /* タブパネル */
  }
  .tab__menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 3.125em;
    padding: 0;
    margin: 0;
    margin-bottom: 2.5em;
    gap: 20px;
    width: auto;
  }
  .tab__menu-item {
    width: 45%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 10px 0;
    color: #294781;
    align-items: center;
    border-bottom: 1px solid rgba(41, 71, 129, 0.5);
    background-color: #ff8800;
    color: #ffffff;
  }
  .tab__menu-item.sp {
    background-color: #ff8800;
  }
  .tab__menu-item.pc {
    background-color: #00a010;
  }
  .tab__panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .tab__panel-box {
    border-radius: 10px;
    margin-bottom: 1.875em;
    width: 45%;
    max-height: 100vh;
    overflow-y: scroll;
  }
  .tab__panel-box001 {
    background-color: #ffffff;
    display: block;
  }
  .tab__panel-box002 {
    background-color: #ffffff;
    display: block;
  }
  .singlework {
    margin-left: auto;
    margin-right: auto;
    width: 92.3076923077%;
  }
  .singlework__head {
    font-size: 1.75rem;
    margin-bottom: 3.125em;
  }
  .singlework__topimage {
    margin-bottom: 1.25em;
  }
  .singlework__title {
    margin-bottom: 1.25em;
  }
  .singlework__title a {
    color: #121212;
    transition: 0.5s;
    font-size: 1.375rem;
    font-weight: 500;
  }
  .singlework__title a:hover {
    color: #ff8800;
  }
  .singlework__sub {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 0.3125em;
  }
  .singlework__sec {
    margin-bottom: 7.5em;
  }
  .singlework .colorbox {
    flex-direction: row;
  }
  .singlework .ovcontent {
    margin-bottom: 2.5em;
  }
  .singlework .ovcontent__head {
    background-color: #294781;
    color: #ffffff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 0.5625em 0.125em;
    margin-bottom: 0.5em;
  }
  .singlework .ovcontent__part {
    padding-left: 0.625em;
  }
  .singlework .ovcontent .wraplist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    gap: 5%;
  }
  .singlework .ovcontent .wraplist__content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 0.875rem;
    color: #121212;
  }
  .singlework__imagebox {
    margin-right: auto;
    margin-left: auto;
  }
  .singlework__imagebox img {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
  }
  .singlework__imagebox.namecard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }
  .singlework__imagebox.namecard img {
    width: 45%;
  }
  .singlework__imagebox.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }
  .singlework__imagebox.tabs img {
    width: 45%;
  }
  .singlework__allworkview {
    margin-top: 0;
    margin-bottom: 0;
  }
  .singlework__heading {
    font-weight: 500;
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 0.9375em;
  }
  .singlework__heading2 {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0.875em;
    border-bottom: 1px solid #121212;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .singlework__heading3 {
    font-weight: 500;
    font-size: 1.1875rem;
    margin-bottom: 0.3125em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .singlework__text {
    font-size: 1.125rem;
    margin-bottom: 2em;
  }
  .singlework__text.catchtext {
    font-weight: 600;
  }
  .singlework .survey {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3.75em;
    margin-bottom: 3.75em;
  }
  .singlework .survey__image {
    width: 40%;
  }
  .singlework__persona {
    width: 100%;
    height: 80vh;
  }
  .singlework .bloglogo {
    flex-direction: row;
    justify-content: space-around;
  }
  .singlework .bloglogo__image {
    width: 45%;
  }
  .singlework .reason__list {
    font-size: 1rem;
  }
}
.header__name {
  margin-top: 40vh;
  font-size: 4.375rem;
  white-space: pre-wrap;
  word-break: break-all;
}

.about__head {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.license__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  margin-top: 1.875em;
}
.license__image--list {
  width: 30%;
}

.image__box {
  margin-right: auto;
  margin-left: auto;
  margin: 3.125em auto;
}
.image__box img {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
}

.about {
  margin-left: auto;
  margin-right: auto;
  width: 92.3076923077%;
}
.about .heading__2 {
  font-size: 1.125rem;
  margin-bottom: 0.625em;
}
.about__content {
  margin-bottom: 1.875em;
}
.about__text {
  font-size: 0.875em;
  margin-bottom: 0.3125em;
}
.about__text span {
  display: inline-block;
}
.about__dl {
  display: flex;
  gap: 10%;
  margin-bottom: 0.625em;
}
.about__dt {
  font-size: 0.875rem;
}
.about__dd {
  font-size: 0.875rem;
}

.skill__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.skill__content {
  width: 50%;
  margin-bottom: 1.25em;
}

.topback__button {
  margin-right: auto;
  margin-left: auto;
  background-color: #0d0097;
  font-size: 1.375rem;
  text-align: center;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.625em;
}
.topback__button:hover {
  background-color: #ff1010;
}

.contact {
  margin-right: auto;
  margin-left: auto;
  margin-top: 3.125em;
}
.contact__button {
  background-color: #53c0ff;
  font-size: 1.375rem;
  text-align: center;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.625em;
}
.contact__button:hover {
  background-color: #ff1040;
}

@media (min-width: 900px) {
  .header__name {
    margin-top: 20vh;
    font-size: 4.375rem;
  }
  .image__box {
    margin-right: auto;
    margin-left: auto;
    margin: 3.125em auto;
  }
  .image__box img {
    margin-right: auto;
    margin-left: auto;
    width: 30%;
  }
}
@media (min-width: 651px) {
  .license__image {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
  }
  .license__image--list {
    width: 10%;
  }
  .skill__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .skill__content {
    width: 20%;
    margin-bottom: 1.25em;
  }
}
/*# sourceMappingURL=portfoliostyle.css.map */